# ignore system files
*/.DS_Store
.DS_Store
.DS_Store?
thumbs.db
__MACOSX
._*
/.project
.idea/
/.settings/
/.buildpath

# ignore error log
error_log
.ftpquota

#ignore everything but the index.html
/web/files/*
!/web/files/index.html

# ignore updates folder
/web/updates/*

# ignore sitemap.xml (Symlink is used in Pagodabox)
/web/sitemap.xml

# Since we're not going to be using Concrete5's default Grunt setup in /build, but in the root
/node_modules
.sass-cache
npm-debug.log