@import "settings";
@import "normalize";
@import "foundation";
@import "global";


body{
	background:$black-blue;
}
.menu-icon span {
	-webkit-box-shadow: 1px 10px 0 1px #185775, 1px 16px 0 1px #185775, 1px 22px 0 1px #185775;
	box-shadow: 1px 10px 0 1px #185775, 1px 16px 0 1px #185775, 1px 22px 0 1px #185775;
}

/* =============================================================================
ELEMENTS
============================================================================= */

hr.divide{
	margin:3rem 0;
	border:0;
	height:1px;
	background-color: #ddd;
	background-position:50%;
	background-repeat: no-repeat;
	&.knots-blue{
		height:15px;
		background-color:transparent;
		background-image:url("#{$imagePath}divide-knots-blue.png");
	}
	&.o-gray{
		height:15px;
		background-color:transparent;
		background-image:url("#{$imagePath}divide-o-gray.gif");		
	}
	&.x-blue{
		height:15px;
		background-color:transparent;
		background-image: url("#{$imagePath}divide-x-blue.gif");
	}
	&.btn-divide{margin-top:3rem}
}
.sublanding{
	.btn-divide{display: none;}
}
.celtic-knot{
	position:absolute;
	height:65px;
	width:100%;
	bottom:0;
	background:url("#{$imagePath}bg-knot-blue.png") 50% 100% no-repeat;
}

/* =============================================================================
BACKGROUNDS
============================================================================= */
.bg-gray{background:#f7f7f7;}
.bg-white{background:#FFF;}
.bg-wave-blue{
	background: #00182b url("#{$imagePath}bg-wave-blue.gif") 0 0 repeat;	
}
.bg-wave-drk-blue{
	background: #00182b url("#{$imagePath}bg-wave-drk-blue.gif") 0 0 repeat;	
}
.bg-knot-gray-lg{
	height:2.5rem;
	background-color:#f7f7f7;
	background-image: url("#{$imagePath}bg-knot-gray-lg.jpg");
	background-position:50%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/* =============================================================================
HEADER BAR
============================================================================= */
.header {
	@include clearfix;
	position: relative;
	height:$header-height;
	background: #FFF;
	width: 100%;
	z-index: 1;
	z-index:999;
	.primary-nav-container{
		position: relative;
		max-width: $row-width;
		height:$header-height;
		width:100%;
		margin: 0 auto;
		margin-bottom: 0;
		
		.name{
			margin:0;
			padding:0;
			line-height:1;
			text-align: center;
			a{
				display:block;
				height:$header-height;
				width:225px;
				background: #FFF;
			}
			@media (min-width:1020px) and (max-width:1100px){
				margin-left: -17px;
			}
		}
		.name, .name a{
			@media #{$small-only} {
				width:100%;
				text-align: left;
				background:#fff;
				img{
					margin-left:-20px;
				}
			}
		}
		.primary-nav-section {
			position:absolute;
			margin-left:225px;
			height:$header-height;
			@media (min-width:1020px) and (max-width:1100px){
				margin-left: 200px;
			}
			
			ul {
				height:$header-height !important;
				li {
					list-style: none;
					background: #FFF;
					&:last-child {border:0;}
					&:hover,&.nav-path-selected {
						a{
							color: $medium-gray;
							&:hover { color: $medium-gray; }
						}
					}
						a{
						color: $brand-blue;
						font-size:rem-calc(16);
						font-weight: 400;
						text-transform: uppercase;
						&:hover { color: $dark-blue; }
					}
					&:not(.has-form) {
						a:not(.button) {
							padding: 0 15px;
							line-height: ($header-height)-(convert-to-px($header-link-font-size))+2;
							height:$header-height;
							background: transparent;
							@media #{$xlarge-up}{
								padding: 0 22px;
							}
						}
					}
					.dropdown{
						margin-left:-1rem;
						li{
							padding-left:1rem;
							padding-right:1rem;
							background: #FFF;
							&:first-child{padding-top:2rem;}
							&:last-child{padding-bottom:1rem;}
							&.nav-selected{
								a{
									color: $medium-gray; 
								}
							}
							a{
								color:$brand-blue;
								line-height: 3rem !important;
								height: 3rem !important;
								&:hover { color: $medium-gray; }
							}
						}
						
					}		  
				}
				
			}
		}
	}
}
.utility-nav-container{}

/* =============================================================================
MASTHEAD
============================================================================= */
.masthead{
	position: relative;
	padding-top:4rem;
	padding-bottom:7rem;
	min-height:19rem;
	p{
		color:#9ca9bb;
		font-size: rem-calc(18);
		line-height: rem-calc(28);
		text-align: center;
	}
	.intro{
		h1{
			color:#FFF;
			font-size:4rem;
			line-height:3.5rem;
			letter-spacing: 0.06em;
			text-align: center;
		}
		p{
			@include lead;
			margin:0 auto;
			display:table;
			color:#FFF;
			font-size: rem-calc(18);
			letter-spacing:0.3rem;
			text-transform: uppercase;
			&:before,&:after{
				display:table;
				padding:0 2rem;
				height:5px;
				width:100%;
				content:"";
				background: url("#{$imagePath}divide-x-blue.gif") 50% no-repeat;
			}	
		}
	}
	.celtic-knot{opacity:0.7;}
}
.sublanding{
	.masthead{
		.dog{
			margin:3rem auto 0;
			text-align: center;
		}
		h2{
			margin:2rem 0 1.5rem;
			color:#FFF;
			font-family: $proxima;
			font-weight: 300;
			font-size: rem-calc(24);
			line-height: rem-calc(26);
			letter-spacing: 0.05em;
			text-align: center;
			text-transform: uppercase;
		}
		p{
			font-size: rem-calc(18);
			line-height: rem-calc(28);
			color:#FFF;
			text-align: center;
		}
	}
}
.tab-nav{
	.title{
		height:0;
		h3{
			margin:-40px 0 0;
			padding:0;
			height:50px;
			color:$brand-blue;
			font-size: rem-calc(24);
			font-weight:300;
			letter-spacing: 0.1em;
			text-align: center;
		}
	}	
}
.img-border{
	position:relative;
	margin-top:2rem;
	margin-bottom:2rem;
	@media #{$large-up}{
		&:before{
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			height: 100%;
			width: 100%;
			background: url("#{$imagePath}bordered-img-overlay.png") 0 0 no-repeat;
			z-index: 9;
		}
	}
	
}
/* =============================================================================
HOMEPAGE
============================================================================= */
@import "home";

/* =============================================================================
MAIN
============================================================================= */
.main{
	background:#f7f7f7;
	padding:3rem 2.5rem;
	.aside{
		blockquote p {font-size:rem-calc(26);}
		
	}
	.lead{
		margin:2rem 0;
		font-size:rem-calc(21);
		letter-spacing: 0.03em;
		line-height: rem-cal(28);
		font-weight: 400;
	}
	ul{
		li{
			margin:0.75rem 0;
			padding:0;
			color:$brand-blue;
			font-size: rem-calc(18);
			font-style: italic;
			font-weight: 300;
			letter-spacing: 0.06em;
			line-height: rem-calc(21);
		}
		&.side-nav {
			padding-top:2rem;
			li{
				margin:0.5rem 0;
				font-size:1rem;
				font-weight: 400;
				&.divider{
					margin-top:1.75rem;
					height:auto;
					color:$brand-gray;
					font-weight:700;
					border:0;
					border-bottom: 1px solid #FFF;
				}
				&.active{
					a{
						color:$brand-gray !important;
						font-weight:600;
					}
					
				}
				a{
					color:$brand-blue !important;
				}
				
			}
			li.divider:first-child{margin-top:0;}
		}
	}
	.vertical-middle{
		blockquote{
			color: $brand-gray;
			font-family: $quadon-light;
			font-style: italic;
			font-size:rem-calc(34);
			line-height: rem-calc(48);
			&:before, &:after{
				display: block;
				margin:1rem 0;
				content:"";
				height:2px;
				width:30px;
				background: $brand-gray;
			}
			&.text-right{
				&:before, &:after{right:0;}
			}
		}
	}
}
.main-intro{
	padding-top: 3rem;
	padding-bottom:0;
	h2{
		font-family: $proxima;
		color:$brand-blue;
		font-size: rem-calc(24);
		font-weight:300;
		letter-spacing: 0.1em;
		text-align: center;
		text-transform: uppercase;
		&:after{
			display:block;
			margin:20px 0;
			content: " ";
			height:5px;
			width:100%;
			background: url("#{$imagePath}blockquote-signature.png") 50% 0 no-repeat;	
		}
	}
	p, .lead{
		color:$dark-gray;
		text-align: center;
		font-size:rem-calc(18);
		letter-spacing: 0.03em;
		line-height: rem-cal(28);
	}
}
.breeds,.training{
	.main-intro{
		padding-top: 5rem;
		padding-bottom: 6rem;
	}
}

/* =============================================================================
COLUMNS - HIGHLIGHTS
============================================================================= */
.options{
	.column{
		padding-left:30px;
		padding-right:30px;
		background:url("#{$imagePath}divide-vert-gray.gif") 0 3rem no-repeat;
		@media #{$small-only}{
			padding:20px 15px 0;
			background: none;
			border-top:1px solid #ddd;
		}
		&:first-child{border:0;background:none;}
		h3,p{text-align: center;}
		h3{
			margin:0 0 1.5rem;
			color:$medium-blue;
			font-size: rem-calc(21);
			line-height: rem-calc(21);
		}
		p{
			color: $brand-blue;
			font-size: rem-calc(14);
			line-height: rem-calc(18);
		}
	}
}

/* =============================================================================
TABS
============================================================================= */
.tab-group{
	&:before,&:after{
		height:15px;
		width: 100%;
		content:"";
		background:url("#{$imagePath}divide-o-gray.gif") 50% no-repeat;	
	}
	&:before{margin-top:1rem;margin-bottom:4rem;}
	&:after{margin-top:4rem;margin-bottom:1rem;}
}
.tabs{
	margin-top:3.2rem;
	&.vertical{
		width:28%;
	}
	dd{
		background: none;
		text-align: right;
		font-size:rem-calc(16);
		a{
			padding:0.25rem 3rem 0.25rem 1rem;
			color:$brand-blue;
			background: none;
			&:hover{
				color:#6c6c6c;
				background:none;
			}
		}
		&.active{
			a{
				color:#6c6c6c;
				font-weight:600;
				background: none;
			}
		}
	}
	&.centered{
		display: table;
		margin: 0 auto;
		dd{
			top:0 !important;
			margin-right:1px;
			a{
				height:2.5rem;
				line-height: 2.5rem;
				padding:0 4rem;
				text-align: center;
				color:#FFF;
				text-transform: uppercase;
				background:$brand-blue;
			}
			&.active{
				a{
					color:$medium-blue;
					font-weight:600;
					background: #f7f7f7;
				}
			}
		}
	}
	
}
.tabs-content{
	&.vertical{width:72%;padding-bottom:3.5rem;}
	
	h3{
		color:#959471;
		font-family: $quadon-light;
		font-size:rem-calc(28);
		text-transform: none;
	}
	p{
		color:#414141;
		font-size:rem-calc(18);
		font-weight: 300;
		line-height:rem-calc(28);	
	}
	.desc{
		p{text-align: center;}
		
	}
	.link{
		position: relative;
		margin-top:2rem;
		color:$brand-blue;
		font-size:rem-calc(14);
		font-weight: 600;
		text-transform: uppercase;
		&:after{
			position:absolute;
			top:0.1rem;
			right:-1rem;	
			width: 0; 
			height: 0;  
			content:" ";
			border-top: 4px solid transparent;
			border-bottom: 4px solid transparent;
			border-left: 4px solid #27333a;
		}
		&:hover{color:#27333a;}
	}
}
.left-col{
	h3{
		margin-top:3rem;
		margin-bottom: 1rem;
		font-family: $proxima;
		color: #333;
		font-size: rem-calc(21);
		font-weight: 300;
		text-align: left;
		text-transform: uppercase;
	}
	ul{
		margin-left:0;
		li{
			margin:0.25rem 0;
			padding:0 0 0.25rem;
			list-style: none;
			font-size:rem-calc(16);
			border-bottom: 1px solid #f1f1f1;
		}
	}
}

/* =============================================================================
GALLERY
============================================================================= */
.orbit-container{
	.orbit-timer, .orbit-progress,.orbit-slide-number{display:none;}
	.orbit-slides-container{
		height:350px;
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			height: 100%;
			width: 100%;
			background: url("#{$imagePath}orbit-gallery-overlay.png") 0 0 no-repeat;
			background-size: cover;
			z-index: 9;
		}
		li{margin:0;}
		img{width:100%;}
	}
	.orbit-prev,.orbit-next{
		top: 50%;
		margin-top: -11px;
		width: 21px;
		height: 24px;
		line-height: 24px;
		
		span{display:none;}
	}
	.orbit-prev{
		left:5px;
		background: url("#{$imagePath}orbit-gallery-left-arrow.png") 50% no-repeat;
		&:hover{
			background-image:url("#{$imagePath}orbit-gallery-left-arrow-hover.png");
			background-color:transparent;
		}
	}
	.orbit-next{
		right:5px;
		background: url("#{$imagePath}orbit-gallery-right-arrow.png") 50% no-repeat;
		&:hover{
			background-image:url("#{$imagePath}orbit-gallery-right-arrow-hover.png");
			background-color:transparent;
		}
	}
	.orbit-bullets-container{
		margin-top:-50px;
	}
}

/* =============================================================================
DOUBLE BORDER BOX
============================================================================= */

.boxed{
	padding:2rem 2rem;
	box-shadow: 0 0 0 1px #999, 0px 0px 0 5px #FFF, 0px 0px 0 6px #999;
	background: #FFF;	
	h3{
		margin-bottom:1rem;
		font-family: $proxima;
		color:$dark-gray;
		font-size: rem-calc(21);
		font-weight: 300;
		text-align: center;
		text-transform: uppercase;
	}
	p{
		font-size:rem-calc(16);
		font-style: italic;
		font-weight: 300;
		letter-spacing: 0.06em;
		line-height: rem-calc(21);
		text-align: center;
	}
}
.tabs-content{
	.boxed{
		margin-top:1rem;
	}
	.desc{margin-top:2rem;}
}
.breeds{
	.boxed{
		margin-top:6px;
		.box{min-height: 320px;}
		h3,p{text-align: left;}
	}
}

/* =============================================================================
DOGS
============================================================================= */


.dog-item{
	padding:1.5rem !important;
	img{
		margin:0 0 0.5rem;
		border:1px solid #DDD;
	}
	hr{margin:0.5rem 0;}
	.name{
		font-size: rem-calc(21);
		font-weight: 300;
		line-height:  rem-calc(24);
		color:$medium-gray;
	}
	.level,.breed,.dob{
		font-weight: 300;
		line-height:  rem-calc(24);
		color:$brand-gray;
	}
	.breed{font-size: rem-calc(18);}
	.level,.dob{font-size:rem-calc(14);}
	.btn{
		margin:0.5rem 0 0;
		font-size:rem-calc(16);
		display: block;
	}
}
.image-grid{margin-top:1.25rem !important;}
	
.dog-details{
	.side-nav {
		margin-top:2rem;
	}
	.dog-desc{padding-top: 1.25rem}
	.reserve{
		hr{margin:2rem 0 1rem;}
		p{
			margin:0 0 1rem;
			color:$dark-gray;
			font-family: $quadon-light;
			font-size:rem-calc(18);
			text-align: center;
			text-transform: uppercase;
		}
		
	}
}
/* =============================================================================
CONTACT FORM
============================================================================= */
.contact-form{
	background:#f1f1f1;
	padding:1.875rem 1.875rem 0.9375rem;
	
}

/* =============================================================================
FOOTER
============================================================================= */
@mixin footer($type) {
	padding-top:3rem;
	color:#FFF;
	.contact{margin-top:0.3333334rem;}
	.or{
		position: relative;
		display: inline-block;
		text-align: center;
		line-height: 2rem;
		height: 2rem;
		width: 6rem;
		vertical-align: middle;
		&:before, &:after{
			position: absolute;
			display: block;
			height:1px;
			background:#FFF;
			content:" ";
			width: 30%;
			margin: 0 35%;
		}
	}
	.message p{
		margin:0;
		font-size: 1.1666666667rem;
		line-height: 2rem;
		color:#FFF;
	}
	.copyright{margin-top:6rem;padding-top:3rem;}
	
	@media only screen and (max-width: 40em){
		.or{display: none;}
		.message p{text-align: center;line-height: 1.5rem;}
		.btn, .footer .or{margin: 0.3333334rem 0;width:100%;}
	}
	@media only screen and (max-width: 56.888888889em){
		.message p{text-align: left;line-height: 1.33334;font-size: 0.8888888889rem;}
		.or{width: 3rem;}
	}
	
	@if $type == privateclient {
		background:$black-blue;
		
		.copyright{color:$medium-blue;}
		.btn-contact{
			color:#FFF;
			background: $lite-blue;
		}
		.btn-contact:hover{background:#006ca1;}
		.btn-contact.btn-arrow:after{
			border-left:4px solid #003149;
		}
		
		
	}
	@if $type == professional {
		background:$black-green;
		
		.copyright{color:#413f26;}
		.btn-contact{
			color:#FFF;
			background: #8e8a19;
		}
		.btn-contact:hover{background:#aba61e;}
		.btn-contact.btn-arrow:after{
			border-left:4px solid #716e14;
		}
		
	}
}

.footer { @include footer(privateclient); }
.professional .footer { @include footer(professional); }