@import "settings";
@import "normalize";
@import "foundation";
@import "global";
/* === V.2.9 === */
body{
	.privateclient &{background:$black-blue;}
}
.menu-icon span {
	-webkit-box-shadow: 1px 10px 0 1px #185775, 1px 16px 0 1px #185775, 1px 22px 0 1px #185775;
	box-shadow: 1px 10px 0 1px #185775, 1px 16px 0 1px #185775, 1px 22px 0 1px #185775;
}
.professional {
	.menu-icon span {
		-webkit-box-shadow: 1px 10px 0 1px $lite-green, 1px 16px 0 1px $lite-green, 1px 22px 0 1px $lite-green;
		box-shadow: 1px 10px 0 1px $lite-green, 1px 16px 0 1px $lite-green, 1px 22px 0 1px $lite-green;
	}
}
.alert-box{
	padding:50px 20%;
	font-size:18px;
	line-height:24px;
	text-align: center;
	a{color:#ffe8d1;text-decoration:underline;}
	.close{display:none;}
}
@mixin metalic{
	background: url("/packages/shield/img/professional/bg-title-mask.jpg") no-repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h1, h2, h3, h4, p{
	@media #{$small-only}{
		br{
			display:inline;
			&:before{
				display:inline-block;
				content:" ";
			}
		}
	}
}
p{@include rem(margin-bottom,1.25rem);}
.ie7,.ie8,.ie9,
.lt-ie8,.lt-ie9{
	
	.right-off-canvas-menu, .exit-off-canvas{display:none !important;}
	.home .pro-section h1{background: none !important;}
	.maskTitle{
		color:#FFF;
		background: none !important;
		h1{color:#FFF !important;}
		span{
			display:none !important;
			&:after{display:none !important;}
		}
	}	
}
/* =============================================================================
PAGE
============================================================================= */
body{background:$dark-white;}
.off-canvas-wrap{
	.inner-wrap{
		.main-wrap{
			margin:0 auto;
			width: 100%;
			max-width: 1300px;
			box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
			background:#FFF;
		}
	}
}

/* =============================================================================
HEADER BAR
============================================================================= */
.header {
	@include clearfix;
	position: relative;
	height:$header-height;
	background: #FFF;
	width: 100%;
	z-index: 1;
	z-index:999;
	.professional &{background:#000;}
	.primary-nav-container{
		position: relative;
		max-width: $row-width;
		height:$header-height;
		width:100%;
		margin: 0 auto;
		margin-bottom: 0;
		
		.name{
			position:relative;
			z-index:999;
			margin:0;
			padding:0;
			line-height:1;
			text-align: center;
			.professional & {
				#privateclient{display:none;}
				#professional{}
			}
			.privateclient &, .home &, .our_dogs &, .contact &{
				#professional{display:none;}
				#privateclient{}
			}
			a{
				display:block;
				height:$header-height;
				width:225px;
				background: #FFF;
				.professional &{background:#000;}
			}
			@media (min-width:1020px) and (max-width:1100px){
				margin-left: -17px;
			}
		}
		.name, .name a{
			@media #{$small-only} {
				width:225px;
				text-align: left;
				background:#fff;
				.professional &{background:#000;}
				img{
					margin-left:-20px;
				}
			}
		}
		.primary-nav-section {
			height:$header-height;
			@media (min-width:1020px) and (max-width:1100px){
				margin-left: 200px;
			}
			
			ul {
				height:$header-height !important;
				li {
					list-style: none;
					background: #FFF;
					.lt-ie9 &{float:left;width:150px;}
					.professional &{background:#000;}
					&:last-child {border:0;}
					&:hover,&.nav-path-selected {
						.home &, .our_dogs &, .contact &, .privateclient &{
							a{
								color: $medium-gray;
								background: #FFF !important;
								&:hover {
									color: $medium-gray;
									background: #FFF !important;
								}
							}
						}
						.professional &{
							a{
								color: #FFF;
								background: #000 !important;
								&:hover {
									color: $lite-gray;
									background: #000 !important;
								}
							}
						}
					}
					a{
						@include rem(font-size, 1rem);
						font-weight: 400;
						text-transform: uppercase;
						padding: 0 17px !important;
						line-height: 75px;
						height:$header-height;
						.home &, .our_dogs &, .contact &, .privateclient &{
							color: $brand-blue;
							background: #FFF !important;
						}
						.professional &{
							color: #FFF;
							background: #000 !important;
						}
						@media #{$xlarge-up}{
							padding: 0 17px !important;
						}
					}
					.dropdown{
						left:0;
						right:auto;
						@include rem(margin-left, -1rem);
						li{
							@include rem(padding-left, 1rem);
							@include rem(padding-right, 1rem);
							background: #FFF;
							.professional &{background:#000;}
							&:first-child{@include rem(padding-top, 1rem);}
							&:last-child{@include rem(padding-bottom, 1rem);}
							&.nav-selected{
								a{
									color: $medium-gray; 
									.professional &{color:$medium-gray;}
								}
							}
							a{
								color:$brand-blue;
								@include rem(line-height, 3rem);
								@include rem(height, 3rem);
								&:hover {
									color: $medium-gray;
								}
								.professional &{
									color: #FFF;
									&:hover {
										color: $medium-gray;
									}
								}
							}
						}
						
					}		  
				}
				
			}
		}
	}
}
.utility-nav-container{}
/* =============================================================================
MASTHEAD
============================================================================= */
.masthead{
	height:auto;
	background-color:$medium-tan;
	background-position:50% 0;
	background-repeat: no-repeat;
	.intro{
		border:2px solid $lite-tan;
		padding:4px;
		@include rem(margin-top, 1.5rem);
		@include rem(margin-bottom, 1.5rem);
		@media #{$small-only}{
			margin-top:0;
			margin-bottom:0;
		}
		.intro-inner{
			height: 175px;
			padding: 28px 0 18px;
			background:$lite-tan;
			background:rgba(247,245,237,0.9);
			@media #{$small-only}{
				height:auto;
			}
			h1{
				margin:0;
				padding:0;
				font-size:50px;
				font-weight: 400;
				line-height: 50px;
				color:$brand-blue;
				text-align: center;
				@media #{$small-only}{
					@include rem(font-size, 1.25rem);
					@include rem(line-height, 1.7rem);
				}
			}
			hr{
				margin:6px auto 8px;
				width:480px;
				background-image:url("#{$imagePath}divide-x-gray.gif");
				@media #{$small-only}{
					width:80%;
				}
			}
			.intro-content{
				p{
					margin:0;
					padding:0;
					color:$medium-gray;
					@include rem(font-size, 1rem);
					@include rem(line-height, 2rem);
					text-align: center;
					
				}
			}
			p{
				@media #{$small-only}{
					@include rem(font-size, 14px);
					@include rem(line-height, 1.5rem);
				}
			}
			p.lead{
				
			}
		}
	}
	.sublanding &, .home &{height:auto;}
	.privateclient.sublanding &{
		background-image:url("#{$imagePath}private/masthead/bg-sublanding.jpg");
		.intro{
			@include rem(margin-top, 3rem);
			@include rem(margin-bottom, 3rem);
			.intro-inner{
				height:auto;
				@include rem(padding, 4rem);
				hr{
					@include rem(margin, 24px auto 24px);
					
				}
			}
		}
	}
	.privateclient.about-us &{
		background-image:url("#{$imagePath}private/masthead/bg-about.jpg");
	}
	.privateclient.svalinn-difference &{
		background-image:url("#{$imagePath}private/masthead/bg-svalinn-difference.jpg");	
	}
	.privateclient.protection &{
		background-image:url("#{$imagePath}private/masthead/bg-protection.jpg");
	}
	.privateclient.purchase-process &{
		background-image:url("#{$imagePath}private/masthead/bg-purchase-process.jpg");
	}
	.contact &{
		background-image:url("#{$imagePath}private/masthead/bg-contact.jpg");
	}
	.our_dogs &{
		background-image:url("#{$imagePath}private/masthead/bg-our-dogs.jpg");
	}
	.professional &{
		background:url("#{$imagePath}professional/masthead/bg-knot-drk.jpg") 50% 0 no-repeat;
		.intro{
			@include rem(margin-top, 3rem);
			@include rem(margin-bottom, 5.5rem);
			border:0;
			background:transparent;
			.intro-inner{
				background: transparent;
				h1{
					text-shadow: 0 0 40px rgba(0,0,0,0.5);
					 font-weight: 300;
					span{
						@include metalic;
						@include rem(font-size, 65px);
					}
				}
				p.lead{
					color:#FFF;
					@include rem(font-size, 22px);
					letter-spacing:0.1em;
					@include rem(line-height, 32px);
				}
				hr{
					@include rem(margin, 0.75rem auto);
					height:8px;
					background-image:url("#{$imagePath}divide-x-green.gif")
				}
			}
		}
	.masthead{
			.intro{
				h1{
					span{
						@include rem(font-size, 57px);
					}
				}
			}
		}
	}
	.professional.sublanding &{
		background:url("#{$imagePath}professional/masthead/bg-landing.jpg") 50% 0 no-repeat;
		@media #{$small-only}{background-position:50% 0;}
		.intro{
			@include rem(margin-top, 7rem);
			@include rem(margin-bottom, 7rem);
			@media #{$small-only}{
				@include rem(margin-top, 3rem);
				@include rem(margin-bottom, 5rem);
			}
			.intro-inner{
				background: transparent;
				.maskTitle{
					position:relative;
					margin:0 auto;
					height: 50px;
					width: 750px;
					@media #{$small-only}{
						height:70px;
						width:100%;
					}
					h1,span {
						position: absolute;
						top:0;
						left:0;
						font-family: $quadon;
						@include rem(font-size, 57px);
						font-weight: 300;
						text-align:center;
						-webkit-text-fill-color:transparent;
						@media #{$small-only}{
							@include rem(font-size, 32px);
							@include rem(line-height, 34px);
						}
					}
					h1 {
						-webkit-background-clip:none;
						background:transparent;
						text-shadow: 0 5px 20px rgb(0,0,0);
						z-index:5;
					}
					span {
						@include metalic;
						z-index:10;
					}
					span:after {
						content: attr(title);
					}
				}
				
				p{
					color:#FFF;
					@include rem(font-size, 24px);
					@include rem(line-height, 32px);
					font-weight:400;
					text-align: center;
					text-transform: uppercase;
				}
				@media #{$small-only}{
					hr{@include rem(margin, 1.5rem auto);width:70%;}
					p{
						@include rem(font-size, 12px);
						@include rem(line-height, 18px);
					}
				}
			}
		}
	}
	.professional.k9-teams &{
		background:url("#{$imagePath}professional/masthead/bg-k9-teams.jpg") 50% 0 no-repeat;
	}
}
/* =============================================================================
MAIN
============================================================================= */
.main{
	background:#FFF;
	@include rem(padding, 3rem 2.5rem);
	border-bottom:24px solid #dbdcd5;
	&.main-1,&.main-2,&.main-3{border-bottom:0;}
	&.main-2,&.main-3{padding-top:0;}
	&.main-1{
		@media #{$small-only}{
			@include rem(padding, 3rem 1rem 1rem);
		}
		h1{
			@include rem(margin-bottom, 36px);
			color: $brand-blue;
			font-family: $proxima;
			@include rem(font-size, 26px);
			font-style: italic;
			font-weight: 300;
			text-align: center;
			text-transform: uppercase;
			@media #{$small-only}{
				@include rem(font-size, 18px);
				@include rem(line-height, 22px);
			}
		}
		h1+p{
			text-align: center;
			@media #{$small-only}{
				@include rem(font-size, 14px);
				@include rem(line-height, 18px);
			}
		}
		h2,p{text-align: center;}
		h2{
			margin:0;
			padding:42px 0;
			color:$brand-blue;
			font-family: $proxima;
			@include rem(font-size, 26px);
			font-style: italic;
			font-weight: 300;
			@include rem(line-height, 36px);
			text-transform: uppercase;
		}
	}
	&.main-3{
		padding-bottom: 0;
		border-bottom:24px solid #dbdcd5;
		.professional &{
			border-color:$lite-green;
		}
	}
	&.main-breeds{
		padding:0;
		>.row{
			width:100%;
			max-width:100%;
		}
	}
	@media #{$small-only}{
		padding-left:0;
		padding-right:0;
	}
	/*BGs*/
	.breed-specifications &{border:0;}
	/*SECTIONS*/
	.section{
		padding-top:64px;	
	}
	.aside{}
	/*ELEMENTS*/
	h2{
		@media #{$small-only}{
			@include rem(font-size, 18px);
			@include rem(line-height, 24px);
		}
	}
	blockquote{
		@include rem(margin, 0 0 36px);
		@include rem(padding, 0 0 36px);
		color:$brand-blue;
		@include rem(font-size, 46px);
		@include rem(line-height, 54px);
		text-align: center;
		background:url("#{$imagePath}divide-knot-gray.gif") 50% 100% no-repeat;
		@media #{$small-only}{
			@include rem(font-size, 24px);
			@include rem(line-height, 32px);
			padding: 0;
			margin-top: 0;
		}
		.guarantee &{
			@include rem(margin, 2rem 0);
			padding:0;
			background:none;
		}
	}
	.lead{
		margin:2rem 0;
		@include rem(font-size, 21px);
		letter-spacing: 0.03em;
		@include rem(line-height, 28px);
		font-weight: 400;
	}
	ul{
		li{
			@include rem(margin, 0.75rem 0);
			padding:0;
			color:$brand-blue;
			@include rem(font-size, 18px);
			font-style: italic;
			font-weight: 300;
			letter-spacing: 0.06em;
			@include rem(line-height, 21px);
		}
		&.side-nav {
			@include rem(padding-top, 2rem);
			li{
				@include rem(margin, 0.5rem 0);
				@include rem(font-size, 1rem);
				font-weight: 400;
				&.divider{
					@include rem(margin-top, 1.75rem);
					height:auto;
					color:$brand-gray;
					font-weight:700;
					border:0;
					border-bottom: 1px solid #FFF;
				}
				&.active{
					a{
						color:$brand-gray !important;
						font-weight:600;
					}
				}
				a{
					color:$brand-blue !important;
				}
				
			}
			li.divider:first-child{margin-top:0;}
		}
	}
	.vertical-middle{
		blockquote{
			color: $brand-gray;
			font-family: $quadon;
			font-style: italic;
			@include rem(font-size, 34px);
			@include rem(font-size, 48px);
			&:before, &:after{
				display: block;
				margin:1rem 0;
				content:"";
				height:2px;
				width:30px;
				background: $brand-gray;
			}
			&.text-right{
				&:before, &:after{right:0;}
			}
		}
	}
}
.img-span{
	background-color:$medium-tan;
}

/* =============================================================================
PAGE ELEMENTS
============================================================================= */
/*  OFF CANVAS NAV  */
.right-off-canvas-menu{
	background:#333;
	a{text-align: left;}
	.primary-nav,.utility-nav{@include rem(margin, 0 20px);}
	.primary-nav{
		@include rem(padding-bottom, 30px);
		li{
			@include rem(padding-top, 0 20px);
			&.has-dropdown{}
			a{
				padding-left:0;
				padding-right:0;
				color:#FFF;
				@include rem(font-size, 1rem);
				@include rem(line-height, 1.5rem);
				text-decoration: none;
				text-transform: uppercase;
				border-bottom:1px solid #ccc;
			}
			
			ul{
				@include clearfix;
				display:block;
				margin:0;
				padding:0;
			}
			ul>li{
				margin:0;
				padding:0;
				display: table-cell;
				text-align: center;
				list-style: none;
				float:left;
				width:50%;
				
				a{
					padding-left:0;
					padding-right:0;
					border: 0;
					display: block;
					@include rem(font-size, 11px);
					@include rem(line-height, 12px);
				}
			}
		}
	}
	.utility-nav{
		@include rem(margin-top, 30px);
		.btn{
			@include rem(margin, 10px);
			width:auto;
			text-align: center;
			border: 2px solid #FFF;
		}
	}
}
.right-off-canvas-toggle{position: absolute;top:16px;right:0;}

/*  CALL TO ACTION ROW  */
.cta .btn{@include rem(margin, 0 0 3rem);}

/*  TESTIMONIALS  */
.testimonials{
	@include rem(padding-top, 5rem);
	@include rem(padding-bottom, 5rem);
	@media #{$small-only}{
		@include rem(padding-top, 2rem);
		@include rem(padding-bottom, 2rem);
	}
	.executive & ,.peace-mind &{
		display:none;
	}
	.professional &{display:none;}
	h3{
		@include rem(margin, 0 0 3rem);
		color:$medium-gray2;
		@include rem(font-size, 19px);
		font-weight:300;
		letter-spacing: 0.15em;
		@media #{$small-only}{
			@include rem(margin, 0 0 1.5rem);
			@include rem(font-size, 1rem);
		}
	}
	blockquote{
		margin:0;
		padding:0;
		color:$brand-blue;
		@include rem(font-size, 30px);
		@include rem(line-height, 32px);
		background-image: none;
		@media #{$small-only}{
			@include rem(margin-top, 1rem);
			@include rem(font-size, 18px);
			@include rem(line-height, 24px);
		}
	}
	p{
		display: block;
		font-family: $proxima;
		@include rem(font-size, 18px);
		font-style: normal;
		@include rem(line-height, 21px);
		color:$brand-blue;
		@media #{$small-only}{
			@include rem(font-size, 14px);
			@include rem(line-height, 16px);
		}
		&:before{
			display:block;
			margin:20px 0;
			content: " ";
			height:5px;
			width:100%;
			background: url("#{$imagePath}blockquote-signature.png") 50% 0 no-repeat;	
		}
		
	}
	.btn,.btn-green-inverse{@include rem(margin-top, 1rem);}
	
}
/*  COLUMNS - HIGHLIGHTS  */
.options{
	.column{
		@include rem(padding-left, 30px);
		@include rem(padding-right, 30px);
		background:url("#{$imagePath}divide-vert-gray.gif") 0 3rem no-repeat;
		@media #{$small-only}{
			padding:20px 15px 0;
			background: none;
			border-top:1px solid #ddd;
		}
		&:first-child{border:0;background:none;}
		h3,p{text-align: center;}
		h3{
			@include rem(margin, 0 0 24px);
			color:$medium-blue;
			font-family: $quadon;
			@include rem(font-size, 21px);
			font-weight: 400;
			@include rem(line-height, 21px);
		}
		p{
			color: $medium-gray;
			@include rem(font-size, 16px);
			@include rem(line-height, 19px);
		}
	}
}

/*  TABS  */
.tab-nav{
	background:$lite-tan;
}
.tabs{
	@include rem(margin-top, 5.2rem);
	&.vertical{
		width:28%;
		@media #{$small-only}{
			@include rem(margin-top, 1rem);
			width:100%;
		}
	}
	dd{
		background: none;
		text-align: right;
		@include rem(font-size, 1rem);
		@media #{$small-only}{
			text-align: center;
		}
		a{
			@include rem(padding, 0.25rem 3rem 0.25rem 1rem);
			color:$brand-blue;
			letter-spacing:0.02em;
			background: none;
			@media #{$medium-only}{
				@include rem(padding-right, 1rem);
			}
			@media #{$small-only}{
				text-align: center;
				padding-left:0;padding-right:0;
			}
			&:hover{
				color:#6c6c6c;
				background:none;
			}
		}
		&.active{
			a{
				color:#6c6c6c;
				background: none;
			}
		}
	}
	&.centered{
		display: table;
		margin: 0 auto;
		@media #{$small-only}{
			margin-left: -15px;
			margin-right: -15px;			
		}
		dd{
			top:0 !important;
			margin-right:1px;
			@media #{$small-only}{
				width:100%;
			}
			a{
				@include rem(height, 2.5rem);
				@include rem(line-height, 2.5rem);
				@include rem(padding, 0 4rem);
				text-align: center;
				color:#FFF;
				text-transform: uppercase;
				background:$brand-blue;
			}
			&.active{
				a{
					color:$medium-blue;
					font-weight:400;
					background: #FFF;
				}
			}
		}
	}
	
}
.tabs-content{
	.breeds &{
		margin-bottom: 0;
		@media #{$large-up}{
			.content{min-height:877px;}
		}
	}
	&.vertical{
		width:72%;
		@include rem(padding-bottom, 3.5rem);
		@media #{$small-only}{
			width:100%;
			@include rem(padding-top, 2rem);
			@include rem(padding-bottom, 2rem);
		}
	}
	h3{
		@include rem(margin-top, 2rem);
		@include rem(margin-bottom, 1rem);
		color:$brand-blue;
		font-family: $proxima;
		@include rem(font-size, 24px);
		font-style: italic;
		font-weight: 300;
		text-transform: uppercase;
		@media #{$small-only}{
			text-align: center;
		}
	}
	p{
		color:#414141;
		@include rem(font-size, 18px);
		font-weight: 300;
		@include rem(line-height, 28px);
		@media #{$small-only}{
			text-align: center;
		}	
	}
	.desc{
		p{text-align: center;}
		
	}
	.link{
		position: relative;
		@include rem(margin-top, 2rem);
		color:$brand-blue;
		@include rem(font-size, 14px);
		font-weight: 600;
		text-transform: uppercase;
		&:after{
			position:absolute;
			@include rem(top, 0.1rem);	
			@include rem(right, -1rem);
			width: 0; 
			height: 0;  
			content:" ";
			border-top: 4px solid transparent;
			border-bottom: 4px solid transparent;
			border-left: 4px solid #27333a;
		}
		&:hover{color:#27333a;}
	}
}
.left-col{
	h3{
		@include rem(margin-top, 3rem);
		@include rem(margin-bottom, 3rem);
		font-family: $proxima;
		color: #333;
		@include rem(font-size, 21px);
		font-weight: 300;
		text-align: left;
		text-transform: uppercase;
	}
	ul{
		margin-left:0;
		li{
			@include rem(margin, 0.25rem 0);
			@include rem(padding, 0 0 0.25rem);
			list-style: none;
			@include rem(font-size, 1rem);
			border-bottom: 1px solid #f1f1f1;
		}
	}
}

/*  GALLERY  */
.orbit-container{
	.orbit-timer, .orbit-progress,.orbit-slide-number{display:none;}
	.orbit-slides-container{
		height:350px;
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			height: 100%;
			width: 100%;
			background: url("#{$imagePath}orbit-gallery-overlay.png") 0 0 no-repeat;
			background-size: cover;
			z-index: 9;
		}
		li{margin:0;}
		img{width:100%;}
	}
	.orbit-prev,.orbit-next{
		top: 50%;
		margin-top: -11px;
		@include rem(width, 21px);
		@include rem(height, 24px);
		@include rem(line-height, 24px);
		
		span{display:none;}
	}
	.orbit-prev{
		left:5px;
		background: url("#{$imagePath}orbit-gallery-left-arrow.png") 50% no-repeat;
		&:hover{
			background-image:url("#{$imagePath}orbit-gallery-left-arrow-hover.png");
			background-color:transparent;
		}
	}
	.orbit-next{
		right:5px;
		background: url("#{$imagePath}orbit-gallery-right-arrow.png") 50% no-repeat;
		&:hover{
			background-image:url("#{$imagePath}orbit-gallery-right-arrow-hover.png");
			background-color:transparent;
		}
	}
	.orbit-bullets-container{
		margin-top:-50px;
	}
}

/*  DOUBLE BORDER BOX  */

.boxed{
	@include rem(padding, 2rem);
	box-shadow: 0 0 0 1px #999, 0px 0px 0 5px #FFF, 0px 0px 0 6px #999;
	background: #FFF;	
	h3{
		@include rem(margin-bottom, 1rem);
		font-family: $proxima;
		color:$dark-gray;
		@include rem(font-size, 21px);
		font-weight: 300;
		text-align: center;
		text-transform: uppercase;
	}
	p{
		@include rem(font-size, 1rem);
		font-style: italic;
		font-weight: 300;
		letter-spacing: 0.06em;
		@include rem(line-height, 21px);
		text-align: center;
	}
}
.tabs-content{
	.boxed{
		@include rem(margin-top, 1rem);
	}
	.desc{@include rem(margin-top, 2rem);}
}
.breeds{
	.boxed{
		margin-top:6px;
		.box{min-height: 320px;}
		h3,p{text-align: left;}
	}
}

/* =============================================================================
HOMEPAGE
============================================================================= */
@import "home";
.simply-scroll { 
	width: 100%;
	height: auto;
	@include rem(margin, 0);
	&.simply-scroll-container { 
		position: relative;
	}
	.simply-scroll-clip {
		position: relative;
		overflow: hidden;
		width: 100%;
		.simply-scroll-list { 
			overflow: hidden;
			margin: 0 0 0 -150px;
			padding: 0;
			list-style: none;
			height: 306px;
			li {
				@include rem(padding, 0 0 0.5rem);
				list-style: none;
				float: left;
				width: 306px;
				height: 306px;
				text-align: center;
				img {
					border: none;
					display: inline-block;
					width: 306px;
					height: 306px;
				}
			}
		}
	}
}
/* =============================================================================
PRIVATE
============================================================================= */
@import "private";

/* =============================================================================
PROFESSIONAL LANDING
============================================================================= */
@import "professional";

/* =============================================================================
DOGS
============================================================================= */
@import "dogs";

/* =============================================================================
CONTACT PAGE
============================================================================= */
@import "contact";

/* =============================================================================
FOOTER
============================================================================= */
.footer-img{
	height:255px;
	background-position: 50%;
	background-repeat: no-repeat;
	@media #{$medium-only}{
		height:200px;
		background-position: 50% 0;
		-webkit-background-size: 100% auto;
		-moz-background-size: 100% auto;
		-o-background-size: 100% auto;
		background-size: 100% auto;
	}
	.professional.sublanding &{
		height:280px;
		background-image:url("#{$imagePath}professional/footer/bg-landing.jpg");
		@media #{$medium-only}{
			height:230px;
		}
	}
	.professional &, .professional.about-us &{
		height:340px;
		background-image:url("#{$imagePath}professional/footer/bg-about-us.jpg");
		@media #{$medium-only}{
			height:260px;
		}
	}
	.professional.k9s &{
		height:280px;
		background-image:url("#{$imagePath}professional/footer/bg-k9s.jpg");
		@media #{$medium-only}{
			height:230px;
		}
	}
	.professional.k9-teams &{
		height:340px;
		background-image:url("#{$imagePath}professional/footer/bg-k9-teams.jpg");
		@media #{$medium-only}{
			height:260px;
		}
	}
	.professional.technical-services &{
		height:280px;
		background-image:url("#{$imagePath}professional/footer/bg-technical-services.jpg");
		@media #{$medium-only}{
			height:230px;
		}
	}
}
@mixin footer($type) {
	@include rem(padding-top, 3rem);
	color:#FFF;
	.contact{@include rem(margin-top,0.3333334rem);}
	.or{
		position: relative;
		display: inline-block;
		text-align: center;
		@include rem(line-height, 2rem);
		@include rem(height, 2rem);
		@include rem(width, 6rem);
		vertical-align: middle;
		&:before, &:after{
			position: absolute;
			display: block;
			height:1px;
			background:#FFF;
			content:" ";
			width: 30%;
			margin: 0 35%;
		}
	}
	
	.copyright{@include rem(margin-top,6rem);@include rem(padding-top,3rem);}
	
	@media only screen and (max-width: 40em){
		.or{display: none;}
		.btn, .footer .or{@include rem(margin, 0.3333334rem 0);width:100%;}
	}
	@media only screen and (max-width: 56.888888889em){
		.or{@include rem(width, 3rem);}
	}
	.message p{
		margin:0;
		@include rem(font-size, 18px);
		@include rem(line-height, 32px);
		color:#FFF;
		@media only screen and (max-width: 56.888888889em){
			text-align: left;
			@include rem(font-size, 14px);
			@include rem(line-height, 18px);
		}
		@media #{$small-only}{
			@include rem(margin, 2rem auto);
			text-align: center;
			@include rem(line-height, 24px);
		}
		
	}
	.privateclient.sublanding &{
		border-top:24px solid #dbdcd5;
	}
	@if $type == privateclient {
		background:$black-blue;
		
		.copyright{color:$medium-blue;}
		.btn-contact{
			color:#FFF;
			background: $lite-blue;
		}
		.btn-contact:hover{background:#006ca1;}
		.btn-contact.btn-arrow:after{
			border-left:4px solid #003149;
		}
		
		
	}
	@if $type == professional {
		background:$black-green;
		
		.copyright{color:#413f26;}
		.btn-contact{
			color:#FFF;
			background: #606060;
		}
		.btn-disabled{background:#606060;}
		.btn-contact:hover{background:#808080;}
		.btn-contact.btn-arrow:after{
			border-left:4px solid #333;
		}
		
	}
}

.footer { @include footer(privateclient); }
.professional .footer { @include footer(professional); }