@import "settings";
@import "normalize";
@import "foundation";
@import "global";


.menu-icon span {
	-webkit-box-shadow: 1px 10px 0 1px #185775, 1px 16px 0 1px #185775, 1px 22px 0 1px #185775;
	box-shadow: 1px 10px 0 1px #185775, 1px 16px 0 1px #185775, 1px 22px 0 1px #185775;
}


/* =============================================================================
ELEMENTS
============================================================================= */

hr.divide{
	margin:3rem 0;
	border:0;
	height:1px;
	background-color: #ddd;
	background-position:50%;
	background-repeat: no-repeat;
	&.knots-blue{
		background-color:transparent;
		background-image:url("#{$imagePath}divide-knots-blue.png");
	}
	&.o-gray{
		background-color:transparent;
		background-image:url("#{$imagePath}divide-o-gray.gif");		
	}
	&.x-blue{
		background-color:transparent;
		background-image: url("#{$imagePath}divide-x-blue.gif");
	}
}

.celtic-knot{
	position:absolute;
	height:65px;
	width:100%;
	bottom:0;
	background:url("#{$imagePath}bg-knot-blue.png") 50% 100% no-repeat;
}

/* =============================================================================
BACKGROUNDS
============================================================================= */
.bg-gray{background:#f7f7f7;}
.bg-wave-blue{
	background: #00182b url("#{$imagePath}bg-wave-blue.gif") 0 0 repeat;	
}
.bg-wave-drk-blue{
	background: #00182b url("#{$imagePath}bg-wave-drk-blue.gif") 0 0 repeat;	
}
.bg-knot-gray-lg{
	height:2rem;
	background-color:#f7f7f7;
	background-image: url("#{$imagePath}bg-knot-gray-lg.jpg");
	background-position:50%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/* =============================================================================
HEADER BAR
============================================================================= */
.header {
	@include clearfix;
	position: relative;
	height:$header-height;
	background: #FFF;
	width: 100%;
	z-index: 1;
	z-index:999;
	.primary-nav-container{
		position: relative;
		max-width: $row-width;
		height:$header-height;
		width:100%;
		margin: 0 auto;
		margin-bottom: 0;
		
		.name{
			margin:0;
			padding:0;
			line-height:1;
			text-align: center;
			a{
				display:block;
				height:$header-height;
				width:225px;
				background: #FFF;
			}
			@media (min-width:1020px) and (max-width:1100px){
				margin-left: -17px;
			}
		}
		.name, .name a{
			@media #{$small-only} {
				width:100%;
				text-align: left;
				background:#fff;
				img{
					margin-left:-20px;
				}
			}
		}
		.primary-nav-section {
			position:absolute;
			margin-left:225px;
			height:$header-height;
			@media (min-width:1020px) and (max-width:1100px){
				margin-left: 200px;
			}
			
			ul {
				height:$header-height !important;
				li {
					list-style: none;
					background: #FFF;
					&:last-child {border:0;}
					&:hover {
						a{
							color: $brand-blue;
							&:hover { color: $dark-blue; }
						}
					}
						a{
						color: $brand-blue;
						font-size:rem-calc(16);
						font-weight: 400;
						text-transform: uppercase;
						&:hover { color: $dark-blue; }
					}
					&:not(.has-form) {
						a:not(.button) {
							padding: 0 15px;
							line-height: ($header-height)-(convert-to-px($header-link-font-size))+2;
							height:$header-height;
							background: transparent;
							@media #{$xlarge-up}{
								padding: 0 22px;
							}
						}
					}
					.dropdown{
						li{
							background: #FFF;
							&:first-child{padding-top:2rem;}
							&:last-child{padding-bottom:1rem;}
							a{
								color:$brand-blue;
								line-height: 3rem !important;
								height: 3rem !important;
								&:hover { color: $dark-blue; }
							}
						}
						
					}		  
				}
				
			}
		}
	}
}
.utility-nav-container{}

/* =============================================================================
MASTHEAD
============================================================================= */
.masthead{
	position: relative;
	padding-top:4rem;
	padding-bottom:7rem;
	min-height:19rem;
	p{
		color:#9ca9bb;
		font-size: rem-calc(18);
		line-height: rem-calc(28);
	}
	.intro{
		h1{
			color:#FFF;
			font-size:4rem;
			letter-spacing: 0.06em;
		}
		p{
			margin:0 auto;
			display:table;
			color:#FFF;
			font-size: rem-calc(18);
			&:before,&:after{
				display:table;
				padding:0 2rem;
				height:5px;
				width:100%;
				content:"";
				background: url("#{$imagePath}divide-x-blue.gif") 50% no-repeat;
			}	
		}
	}
	.celtic-knot{opacity:0.7;}
}
.sublanding{
	.masthead{
		.dog{
			margin:3rem auto 0;
			max-width: 180px;
		}
		.subtitle{color:#FFF;}
	}
}

/* =============================================================================
ELEMENTS
============================================================================= */
.options{
	.column{
		padding-left:30px;
		padding-right:30px;
		background:url("#{$imagePath}divide-vert-gray.gif") 0 3rem no-repeat;
		@media #{$small-only}{
			padding:20px 15px 0;
			background: none;
			border-top:1px solid #ddd;
		}
		&:first-child{border:0;background:none;}
		h3,p{text-align: center;}
		h3{color:$medium-blue;}
		p{
			color: $brand-blue;
			font-size: rem-calc(14);
		}
	}
}
.tab-group{
	&:before,&:after{
		height:15px;
		width: 100%;
		content:"";
		background:url("#{$imagePath}divide-o-gray.gif") 50% no-repeat;	
	}
	&:before{margin-top:1rem;margin-bottom:2rem;}
	&:after{margin-top:2rem;margin-bottom:1rem;}
	.tabs{
		margin-top:3.2rem;
		&.vertical{width:28%;}
		dd{
			background: none;
			text-align: right;
			font-size:rem-calc(16);
			a{
				padding:0.25rem 3rem 0.25rem 1rem;
				color:$brand-blue;
				background: none;
			}
			&.active{
				a{
					color:#6c6c6c;
					font-weight:600;
					background: none;
				}
			}
		}
	}
	.tabs-content{
		&.vertical{width:72%;}
		h3{
			color:$brand-blue;
			font-family: $quadon-light;
			font-size:rem-calc(28);
			text-transform: none;
		}
		p{
			color:#6c6c6c;
			font-size:rem-calc(18);
			font-weight: 300;
			line-height:rem-calc(32);	
		}
	}
}

/* =============================================================================
HOMEPAGE
============================================================================= */
@import "home";

/* =============================================================================
MAIN
============================================================================= */
.main{
	padding:3rem 2.5rem;
	.aside{
		blockquote p {font-size:rem-calc(26);}
		
	}
}

/* =============================================================================
FOOTER
============================================================================= */
@mixin footer($type) {
	padding-top:3rem;
	color:#FFF;
	.contact{margin-top:0.3333334rem;}
	.or{
		position: relative;
		display: inline-block;
		text-align: center;
		line-height: 2rem;
		height: 2rem;
		width: 6rem;
		vertical-align: middle;
		&:before, &:after{
			position: absolute;
			display: block;
			height:1px;
			background:#FFF;
			content:" ";
			width: 30%;
			margin: 0 35%;
		}
	}
	.message p{
		margin:0;
		font-size: 1.1666666667rem;
		line-height: 2rem;
	}
	.copyright{margin-top:6rem;padding-top:3rem;}
	
	@media only screen and (max-width: 40em){
		.or{display: none;}
		.message p{text-align: center;line-height: 1.5rem;}
		.btn, .footer .or{margin: 0.3333334rem 0;width:100%;}
	}
	@media only screen and (max-width: 56.888888889em){
		.message p{text-align: left;line-height: 1.33334;font-size: 0.8888888889rem;}
		.or{width: 3rem;}
	}
	
	@if $type == privateclient {
		background:$black-blue;
		
		.copyright{color:$medium-blue;}
		.btn-contact{
			color:#FFF;
			background: $lite-blue;
		}
		.btn-contact:hover{background:#006ca1;}
		.btn-contact.btn-arrow:after{
			border-left:4px solid #003149;
		}
		
		
	}
	@if $type == professional {
		background:$black-green;
		
		.copyright{color:#413f26;}
		.btn-contact{
			color:#FFF;
			background: #8e8a19;
		}
		.btn-contact:hover{background:#aba61e;}
		.btn-contact.btn-arrow:after{
			border-left:4px solid #716e14;
		}
		
	}
}

.footer { @include footer(privateclient); }
.professional .footer { @include footer(professional); }