/* =============================================================================
CONTACT FORM
============================================================================= */

body.contact {
  form {
  	&.contact-form{
		background:#f1f1f1;
		@include rem(padding, 1.875rem 1.875rem 0.9375rem);
		
	}
    // hidden by default
    small.error {display:none;}
    // if container .columns has class error...
    .columns.error small.error {display:block;}
    // alert box for showing feedback on success
    .alert-box {display:none;}
    // set form class to: toggle submit button to invis & show success alert
    &.form-sent {
      input[type="submit"] {display:none;}
      .alert-box {display:block;}
    }
  }
}