/* =============================================================================
DOGS
============================================================================= */
.dog-item{
	padding:1.5rem !important;
	img{
		margin:0 0 0.5rem;
		border:1px solid #DDD;
	}
	hr{margin:0.5rem 0;}
	.name{
		font-size: rem-calc(21);
		font-weight: 300;
		line-height:  rem-calc(24);
		color:$medium-gray;
	}
	.level,.breed,.dob{
		font-weight: 300;
		line-height:  rem-calc(24);
		color:$brand-gray;
	}
	.breed{font-size: rem-calc(18);}
	.level,.dob{font-size:rem-calc(14);}
	.dob{display:none;}
	.btn{
		margin:0.5rem 0 0;
		font-size:rem-calc(16);
		display: block;
	}
}
.image-grid{margin-top:1.25rem !important;}
	
.dog-details{
	.side-nav {
		margin-top:2rem;
	}
	.dog-desc{padding-top: 1.25rem}
	.reserve{
		hr{margin:2rem 0 1rem;}
		p{
			margin:0 0 1rem;
			color:$dark-gray;
			font-family: $quadon;
			font-size:rem-calc(18);
			text-align: center;
			text-transform: uppercase;
		}
		
	}
}