/* =============================================================================
DOGS
============================================================================= */
.dog-item{
	@include rem(padding, 1.5rem, !important);
	img{
		@include rem(margin, 0 0 0.5rem);
		@include rem(padding-top, 2rem);
		border:1px solid #DDD;
	}
	hr{@include rem(margin, 0.5rem 0 0);}
	.name{
		@include rem(font-size, 21px);			
		font-weight: 300;
		@include rem(line-height, 24px);
		color:$medium-gray;
	}
	.level,.breed,.dob{
		font-weight: 300;
		@include rem(line-height, 24px);
		color:$brand-gray;
	}
	.breed{@include rem(font-size, 18px);}
	.level,.dob{@include rem(font-size, 14px);}
	.dob{display:none;}
	.btn{
		@include rem(margin, 0.5rem 0 0);
		@include rem(font-size, 16px);
		display: block;
	}
}
.image-grid{@include rem(margin-top, 1.25rem, !important);}
	
.dog-details{
	.side-nav {
		@include rem(margin-top, 2rem);
	}
	.dog-desc{@include rem(padding-top, 1.25rem);}
	.reserve{
		hr{@include rem(margin, 2rem 0 1rem);}
		p{
			@include rem(margin, 0 0 1rem);
			color:$dark-gray;
			font-family: $quadon;
			@include rem(font-size, 18px);
			text-align: center;
			text-transform: uppercase;
		}
		
	}
}