@import "settings";
/* =============================================================================
DOGS
============================================================================= */
.our_dogs{
	.dog-item{
		hr{height:1px;width:100%;color:$lite-gray;background-image:none;background-color:$lite-gray;}
		.row{
			@include rem(padding,0 1rem);
		}
	}
	&.details{
		.dog-desc{
			hr{width:100%;background-image:url("#{$imagePath}divide-x-gray.gif");}
		}
	}
	.main{
		@include rem(padding-bottom, 4rem);
	}
	.testimonials{
		background:url("#{$imagePath}bg-dog-knots.jpg") 50% no-repeat;
	}
	.gallery{
		li{
			
			@include rem(margin, 1rem 2rem);
			list-style: none;
			img{border:1px solid #DDD;}
		}
	}
}
.dog-item{
	@include rem(padding, 1.5rem, !important);
	img{
		border:1px solid #DDD;
	}
	hr{
		@include rem(margin, 0.5rem auto 0);
	}
    a {
      display:block;
    }
    .pic {
    	position:relative;
    	@include rem(margin, 0 0 0.5rem);
    	img{
	    	min-width: 100%;
    	}
		.ribbon {
			display:block;
			position:absolute;
			top:15px;
			right:-9px;
			line-height:1;
			padding:7px 8px 6px;
			font-size:12px;
			color:lighten($brand-blue,38%);
			background:$brand-blue;
			-webkit-box-shadow:-2px 4px 5px rgba(0,0,0,0.4);
			-moz-box-shadow:-2px 4px 5px rgba(0,0,0,0.4);
			box-shadow:-2px 4px 5px rgba(0,0,0,0.4);
			&:after {
				position:absolute;
				right:0;top:100%;
				content:'';
				display:block;
				width:0;
				height:0;
				border-bottom:10px solid transparent;
				border-right:10px solid transparent;
				border-top:6px solid #111;
			    
			}
		}
    }
	.name{
		@include rem(font-size, 21px);			
		font-weight: 300;
		@include rem(line-height, 24px);
		color:$medium-gray;
	}
	.level,.breed,.dob{
		font-weight: 300;
		@include rem(line-height, 24px);
		color:$brand-gray;
	}
	.breed{@include rem(font-size, 18px);}
	.level,.dob{@include rem(font-size, 14px);}
	.dob{display:none;}
	.btn{
		@include rem(margin, 0.5rem -0.9375rem 0);
		@include rem(font-size, 16px);
		display: block;
		background: $brand-blue;
	}
}
.image-grid{@include rem(margin-top, 1.25rem, !important);}
	
.dog-details{
	.side-nav {
		@include rem(margin-top, 2rem);
	}
	.dog-desc{@include rem(padding-top, 1.25rem);}
	.reserve{
		hr{@include rem(margin, 2rem 0 1rem);}
		p{
			@include rem(margin, 0 0 1rem);
			color:$dark-gray;
			font-family: $quadon;
			@include rem(font-size, 18px);
			text-align: center;
			text-transform: uppercase;
		}
		
	}
}