/* =============================================================================
FUNCTIONS
============================================================================= */
@function parseInt($n) { /* 2 */
  @return $n / ($n * 0 + 1);
}
@function px($value, $base-value: $rem-base)  {
  $value: strip-unit($value) * strip-unit($base-value) * 1px;
  @if ($value == 0px) { $value: 0; } // Turn 0rem into 0
  @return $value;
}
/* =============================================================================
MIXINS
============================================================================= */
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin rem($property, $values, $condition:"") {
  	$px: null;
  	$rem: null;
	@each $value in $values {
		
		@if $value == 0 or $value == auto {
			$px : append($px , $value);
			$rem: append($rem, $value);
		}
		@else{
			$unit: unit($value);
			$val: parseInt($value);
			@if $unit == "px" {
				$px : append( $px, $val+px );
				$rem : append( $rem, rem-calc($val) );
			}
			@if $unit == "rem" {
				$px : append( $px, px($val, $rem-base) );
				$rem : append( $rem, $val+rem );
			}
		}
	}
  
	#{$property}: $px unquote($condition);
	#{$property}: $rem unquote($condition);
}

/* =============================================================================
FOUNDATION OVERRIDE
============================================================================= */
.contain-to-grid{background:transparent;}

/* =============================================================================
FONTS
============================================================================= */
/**
 * @license
 * MyFonts Webfont Build ID 2811087, 2014-05-13T12:46:25-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed ../fonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Quadon Light by Rene Bieder
 * URL: http://www.myfonts.com/fonts/rene-bieder/quadon/light/
 * Copyright: Copyright &#x00A9; 2012 by Rene Bieder. All rights reserved.
 * Licensed pageviews: 20,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2811087
 * 
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2b3008");

/* LIGHT */ 
@font-face {font-family: 'Quadon';src: url('../fonts/2B3008_1_0.eot');src: url('../fonts/2B3008_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B3008_1_0.woff') format('woff'),url('../fonts/2B3008_1_0.ttf') format('truetype'),url('../fonts/2B3008_1_0.svg#wf') format('svg');font-weight:300;font-style: normal;}
  
@font-face {font-family: 'Quadon';src: url('../fonts/2B3008_2_0.eot');src: url('../fonts/2B3008_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B3008_2_0.woff') format('woff'),url('../fonts/2B3008_2_0.ttf') format('truetype'),url('../fonts/2B3008_2_0.svg#wf') format('svg');font-weight:300;font-style: italic;}
 
/* REGULAR */
@font-face {font-family: 'Quadon';src: url('../fonts/2B3008_3_0.eot');src: url('../fonts/2B3008_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B3008_3_0.woff') format('woff'),url('../fonts/2B3008_3_0.ttf') format('truetype'),url('../fonts/2B3008_3_0.svg#wf') format('svg');font-weight:400;font-style: normal;}

/* BOLD */
@font-face {font-family: 'Quadon';src: url('../fonts/2B3008_0_0.eot');src: url('../fonts/2B3008_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B3008_0_0.woff') format('woff'),url('../fonts/2B3008_0_0.ttf') format('truetype'),url('../fonts/2B3008_0_0.svg#wf') format('svg');font-weight:600;font-style: normal;}
/* =============================================================================
ANIMATIONS
============================================================================= */
a,.btn{
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

/* =============================================================================
TYPOGRAPHY
============================================================================= */
@mixin body($type){
	a{
		@if $type == professional{
			color:$dark-green;
		}else{
			color:$brand-blue;
		}
	}
	.btn{color:#FFF;}
}
body{ 
	@include body(privateclient);
	font-family: $proxima;
	font-weight:400;
}
body.professional{ @include body(professional); }


h1,h2{font-family: $quadon}
h1,h2,h3,h4,p,ul{
	&.small{font-size:80%;}
}
h3{font-weight: 300;text-transform: uppercase;
	color:$brand-blue;
	.professional &{color:$brand-green}
}
p{
	@include rem(font-size, 18px);
	font-weight: 300;
	@include rem(line-height, 30px);
	letter-spacing:0.03em;
	color:#414141;
	&.lead{
		@include rem(font-size, 21px);
		letter-spacing: 0.03em;
		@include rem(line-height, 28px);
	}
	&.lead-sm{
		@include rem(font-size, 18px);
		
	}
	.small{
		@include rem(font-size, 12px);
		@include rem(line-height, 14px);
	}
}
.subtitle{
	@include rem(margin, 2rem 0 1rem);
	font-family: $proxima;
	@include rem(font-size, 28px);
	font-weight: 300;
	letter-spacing: 0.07em;
	@include rem(line-height, 26px);
	text-align: center;
	text-transform: uppercase;
}
.main{
	.h2,.h3{font-family: $proxima;}
}
.feature-title{
	position: relative;
	@include rem(margin, 3rem 0 2rem);
	@include rem(padding, 0.75rem 0 1.25rem);
	text-align: center;
	text-transform: uppercase;
	font-family: $proxima;
	font-weight:300;
	color:$lite-blue;
	&:before,&:after{
		position: absolute;
		margin: 0 45%;
		width: 10%;
		height: 1px;
		background: $tan;
		content: '';
		opacity: 1;
	}
	&:before{
		top: 0;
		left: 0;
	}
	&:after{
		bottom: 0;
		left: 0;
	}
}
blockquote{
	width:100%;
	border-left: 0;
	font-family: $quadon;
	font-style: italic;
	text-align: center;
	color:$lite-blue;
	@include rem(font-size, 30px);
	@include rem(line-height, 42px);
	@media #{$small-only}{
		@include rem(font-size, 21px);
		@include rem(line-height, 26px);
	}
}
.uppercase{text-transform: uppercase;}

hr{
	margin:18px auto 24px;
	@include rem(margin, 18px auto 24px);
	height:12px;
	width:70%;
	border:0;
	background-position:50%;
	background-repeat: no-repeat;
	.privateclient & {background-image:url("#{$imagePath}divide-o-gray.gif")}
}
/* =============================================================================
POSITIONING
============================================================================= */
.nomargin{margin:0 !important;}
.nomargin-top{margin-top:0 !important;}
.nomargin-bottom{margin-bottom:0 !important;}
.nomargin-left{margin-left:0 !important;}
.nomargin-right{margin-right:0 !important;}

.nopadding{padding:0 !important;}
.nopadding-top{padding-top:0 !important;}
.nopadding-bottom{padding-bottom:0 !important;}
.nopadding-left{padding-left:0 !important;}
.nopadding-right{padding-right:0 !important;}

.vertical-middle {
	display: table;
	blockquote{text-align: left;}
	@media #{$medium-only}{
		margin-top: -15px;
		blockquote{
			@include rem(font-size, 1.5rem);
			@include rem(line-height, 2rem);
			margin: 0;
			padding: 0;
		}
	}
	@media #{$small-only}{
		blockquote{
			text-align: center;
			&:before,&:after{display:none;}
		}
	}
	
}

/* =============================================================================
BUTTONS
============================================================================= */
@mixin btn{
	display: inline-block;
	position: relative;
	padding:0.6em 2em 0.5em;
	@include rem(padding, 0.6em 2em 0.5em);
	width: auto;
	text-align: center;
	text-transform: uppercase;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	@include rem(font-size, 0.7777777778rem);
	@include rem(line-height, 0.7777777778rem);
	text-decoration: none;
	font-weight: 400;
	letter-spacing: 0.07em;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
@mixin btn-md{
	@include rem(padding, 0.8em 2em 0.7em);
	@include rem(font-size, 14px);
	@include rem(letter-spacing, 0.15rem);
	@include rem(min-width, 11rem);
	&.btn-arrow:after{
		@include rem(top, 1.3333rem);
		@include rem(right, 1rem);
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		border-left: 6px solid #053047;
	}
}
@mixin btn-lg{
	padding:0.5em 1rem;
	@include rem(padding, 0.5em 1rem);
	@include rem(font-size, 18px);
	@include rem(letter-spacing, 0.15rem);
	@include rem(min-width, 11rem);
	&.btn-arrow:after{
		@include rem(top, 1.3333rem);
		@include rem(right, 1rem);
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		border-left: 6px solid #053047;
	}
}


.btn{
	@include btn;
	&.align-center{
		display:table;
		margin:0 auto;
	}
	&.cta{
		margin-top:2rem;
		margin-bottom:2rem;
	}
	&.gray{
		color:#FFF;
		background:$lite-gray;
		text-transform: uppercase;
	}
}
.btn-md{@include btn-md;}
.btn-lg{@include btn-lg;}

.btn-bordered{
	border-width:2px;
	border-style: solid;
	color:#FFF;
	background: transparent;
	&.blue{
		border-color:$lite-blue;
		&:hover{
			border-color:$brand-blue;
			background:rgb(0,85,129);
			background: rgba(0,85,129,0.3);
		}
	}
	&.green{
		border-color:$lite-green;
		&:hover{
			border-color:$brand-green;
			background:rgb(113,110,20);
			background: rgba(113,110,20,0.3);
		}
	}
	&.on-lite{
		color:$medium-blue;
		background:$lite-tan;
		.professional &{color:$brand-green;}
		&:hover{
			border-color:$lite-blue;
			.professional &{border-color:$brand-green;}
			background: #FFF;
		}
	}
}
.btn-full{
	@include btn-lg;
	width:100% !important;
}
.btn-disabled{
	color:#FFF;
	background:#22221c;
	&.btn-lg{
		@include rem(padding-top, 1rem);
		@include rem(padding-bottom, 1rem);
	}
}
.btn-arrow{
	text-align: left;
	&:after{
		position:absolute;
		@include rem(top, 0.5rem);
		@include rem(right, 1rem);
		width: 0; 
		height: 0;  
		content:" ";
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		border-left: 4px solid #27333a;
	}
	&.btn-lg{
		@include rem(padding-top, 1rem);
		@include rem(padding-bottom, 1rem);
		&:after{
			@include rem(top, 1rem);
		}
	}
	
}