body.home{
	background-color:$black-blue;
	.upper{
		position: relative;
		background-image:url("#{$imagePath}bg-home-upper.jpg");
		background-position:50% 0;
		background-repeat:no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		padding-top:6rem;
		padding-bottom:6rem;
		min-height: 600px;

		h1{
			font-size:72px;
			line-height: 76px;
			color:#FFF;	
		}
		p{
			color:#FFF;
			letter-spacing: 0.2rem;
		}
		.intro{
			padding:1rem 2rem;
		}
		@media (max-width:1080px){
			h1{
				font-size:64px;
				line-height: 68px;
			}
			p.lead,p.lead-sm,a{font-size:14px;}
		}
		@media (max-width:970px){
			h1{
				font-size:56px;
				line-height: 62px;
			}
			p.lead,p.lead-sm,a{font-size:14px;}
		}
		@media #{$small-only} {
			padding-top:2rem;
			min-height: 0;
			.intro{padding:1rem 0 2rem;}
			h1{
				font-size:52px;
				line-height: 56px;
			}
			p.lead,p.lead-sm,a{font-size:14px;}
			a{margin-bottom:1rem;}
		}
	}
	.lower{
		padding-top:4rem;
		padding-bottom:6rem;
		.knot{margin:0 0 2rem;}
		h2{
			font-family: $proxima;
			font-size:rem-calc(24);
			letter-spacing: 0.2em;
			color: #FFF;
		}
		p{color:#FFF;font-weight:300;}
	}
}
.fluid-width-video-wrapper{background: #000;}