@import "settings";
@import "normalize";
@import "foundation";
@import "global";

article, blockquote {
	position: relative;
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	a.down{
		img{max-width: 24px;}
	}
	@media #{$small-only}{
		overflow: visible;
	}
}

article .container, blockquote .container {
  position: relative;
  display: block;
  z-index: 1;
}

article .text-center-tight, blockquote .text-center-tight {
  display: table;
  position: absolute;
  height: 100vh;
  width: 100%;
}

article .inner, blockquote .inner {
  display: table-cell;
  vertical-align: middle;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  -webkit-transition: all 750ms;
  -webkit-transform: translate3d(0px, 0px, 0px) scale(1, 1);
}

.scroll-down {
  position: fixed;
  left: 50%;
  margin-left: -80px;
  margin-top: 90vh;
  color: #FFF;
  font-size: 1.25em;
  width: 80px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  z-index: 10;
  overflow: hidden;
  -webkit-transition: all 150ms;
  &.down-only {
    margin-left: -40px;
    width: 40px;
    .up {
      opacity: 0;
    }
  }
  a {
    display: inline-block;
    width: 40px;
    img {
      -webkit-transition: all 150ms;
      margin-top: 0px;
    }
    &.down:hover img {
      margin-top: 4px;
    }
    &.up:hover img {
      margin-top: -4px;
    }
  }
}

.intro, .quote_gallery {
	margin:0 auto;
}

.intro {
	@media #{$small-only}{
		@include rem(padding, 1rem);
	}
	h1, p {
		color: #FFF;
	}
	h1{
		font-size:4.2vw;
		font-weight:300;
		font-family:$quadon;
		@media #{$medium-down}{
			font-size:6.5vw;
		}
		@media #{$small-only}{
			@include rem(font-size, 24px);
			font-weight: 500;
		}
	}
	p{
		max-width:71.25rem;
		margin-left:auto;
		margin-right:auto;
		padding: 0 5%;
		font-size:1.5vw;
		line-height:160%;
		@media screen and (max-width: 1100px) {
			@include rem(font-size, 18px);
		}
		@media #{$small-only}{
			@include rem(font-size, 16px);
			@include rem(line-height, 24px);
		}
	}
}

.block {
	margin-top: 15%;
	@include rem(padding, 2rem);
	width: 450px;
	background: rgba(16, 36, 46, 0.55);
	@media #{$small-only}{
		@include rem(padding, 1rem);
	}
	&.right {
		float: right;
	}
	h2, p {
		color: #FFF;
		text-align: center;
	}
	h2{
		font-family:$quadon;
		@media #{small-only}{
			@include rem(font-size, 24px);
			font-weight: 500;
		}
	}
	p{
		@media #{$small-only}{
			@include rem(font-size, 16px);
			@include rem(line-height, 24px);
		}
	}
}

@media screen and (max-width: 1100px) {
  article, blockquote {
    height: auto;
    .text-center-tight {
      height: auto;
    }
  }
  article {
    .text-center-tight {
      position: relative;
    }
    .bg-image {
      position: relative;
      padding-top: 60%;
      height: auto;
    }
  }
  .block, .intro {
    margin-top: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    background: rgb(16, 36, 46);
  }
  .scroll-down {
    display: none;
  }
  .dummy {
    padding-top: 60%;
  }
}
@media #{$medium-down}{
	
	article {
		height:100vh;	
		.bg-image {
	  		height:60vh;
	  	}
	  	.container{
	  		height:40vh;
	  	}
	}
}
@media #{$small-only}{
	article {
		height:100vh;	
		.bg-image {
	  		height:auto;
	  		padding-top:60%;
	  	}
	  	.container{
	  		height:auto;
	  	}
	}
}