@import "settings";
@import "normalize";
@import "foundation";
@import "global";

article, blockquote {
	position: relative;
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	a.down{
		img{max-width: 24px;}
	}
	@media #{$small-only}{
		overflow: visible;
	}
}

article .container, blockquote .container {
  position: relative;
  display: block;
  z-index: 1;
}

article .text-center-tight, blockquote .text-center-tight {
  display: table;
  position: absolute;
  height: 100vh;
  width: 100%;
}

article .inner, blockquote .inner {
  display: table-cell;
  vertical-align: middle;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  -webkit-transition: all 750ms;
  -webkit-transform: translate3d(0px, 0px, 0px) scale(1, 1);
}

.scroll-down {
  position: fixed;
  left: 50%;
  margin-left: -100px;
  margin-top: 90vh;
  color: #FFF;
  font-size: 1.25em;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  z-index: 10;
  overflow: hidden;
  -webkit-transition: all 150ms;
  &.down-only {
    margin-left: -50px;
    width: 50px;
    .up {
      opacity: 0;
    }
  }
  a {
    display: inline-block;
    width: 50px;
    img {
      width: 30px;	
      -webkit-transition: all 150ms;
      margin-top: 0px;
    }
    &.down:hover {
      opacity:0.7;
    }
    &.up:hover {
      opacity:0.7;
    }
  }
}

.intro, .quote_gallery {
	margin:0 auto;
}

.intro {
	@media #{$small-only}{
		@include rem(padding, 1rem);
	}
	h1, p {
		color: #FFF;
	}
	h1{
		font-size:4.2vw;
		font-weight:300;
		font-family:$quadon;
		@media #{$medium-down}{
			font-size:6.5vw;
		}
		@media #{$small-only}{
			@include rem(font-size, 24px);
			font-weight: 500;
		}
	}
	p{
		max-width:71.25rem;
		margin-left:auto;
		margin-right:auto;
		padding: 0 5%;
		font-size:1.5vw;
		line-height:160%;
		@media screen and (max-width: 1100px) {
			@include rem(font-size, 18px);
		}
		@media #{$small-only}{
			@include rem(font-size, 16px);
			@include rem(line-height, 24px);
		}
	}
}

.block {
	margin-top: 15%;
	@include rem(padding, 2rem);
	width: 450px;
	background: rgba(16, 36, 46, 0.55);
	@media #{$small-only}{
		@include rem(padding, 1rem);
	}
	&.right {
		float: right;
	}
	h2, p {
		color: #FFF;
		text-align: center;
	}
	h2{
		font-family:$quadon;
		@media #{$medium-down}{
			font-size:6.5vw;
			font-weight:300;
		}
		@media #{$small-only}{
			@include rem(font-size, 24px);
			font-weight: 500;
		}
	}
	p{
		@media #{$small-only}{
			@include rem(font-size, 16px);
			@include rem(line-height, 24px);
		}
	}
}
.quote-gallery{
	.quote{
		height:100vh;
		width:100vw;
		line-height: 100vh;
	}
	
}
@media screen and (max-width: 1100px) {
  article, blockquote {
    height: auto;
    .text-center-tight {
      height: auto;
    }
  }
  article {
    .text-center-tight {
      position: relative;
    }
    .bg-image {
      position: relative;
      padding-top: 60%;
      height: auto;
    }
  }
  .block, .intro {
    margin-top: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    background: rgb(16, 36, 46);
  }
  .scroll-down {
    display: none;
  }
  .dummy {
    padding-top: 60%;
  }
}
.footer{background:$black-blue;}
@media #{$medium-down}{
	
	article {
		height:100vh;	
		.bg-image {
	  		height:60vh;
	  	}
	  	.container{
	  		height:40vh;
	  	}
	}
}
@media #{$small-only}{
	article {
		height:100vh;	
		.bg-image {
	  		height:auto;
	  		padding-top:60%;
	  	}
	  	.container{
	  		height:auto;
	  	}
	}
}
/* =============================================================================
PAGE ELEMENTS
============================================================================= */
.off-canvas-wrap, .inner-wrap {
    min-height: 100%;
}

.off-canvas-wrap{  
height: 100%;
overflow-y: auto;
}
/*  OFF CANVAS NAV  */
.right-off-canvas-menu{
	background:#E4E2E2;
	overflow-y:auto;
	height:auto;
	a{text-align: left;}
	.primary-nav,.utility-nav{@include rem(margin, 0 20px);}
	.primary-nav{
		@include rem(padding-bottom, 30px);
		li{
			@include rem(margin,1rem 1rem 2rem);
			@include rem(padding-top, 0 20px);
			&.has-dropdown{}
			a{
				padding-left:0;
				padding-right:0;
				color:#888;
				font-family: $quadon;
				@include rem(font-size, 1rem);
				@include rem(line-height, 1.5rem);
				text-decoration: none;
				text-transform: uppercase;
				border-bottom:1px solid #ccc;
			}
			
			ul{
				@include clearfix;
				display:block;
				@include rem(margin,1rem 0 2rem);
				padding:0;
			}
			ul>li{
				margin:0;
				padding:0;
				display: block;
				text-align: left;
				float:none;
				list-style: none;
				width:100%;
				a{
					color:$brand-blue;
					padding-left:0;
					padding-right:0;
					border: 0;
					display: block;
					font-family: $proxima;
					@include rem(font-size, 14px);
					@include rem(line-height, 18px);
				}
			}
		}
	}
	.utility-nav{
		@include rem(margin-top, 30px);
		.btn{
			@include rem(margin, 10px);
			color:$brand-blue;
			width:auto;
			text-align: center;
			border: 2px solid $brand-blue;
		}
	}
}
.right-off-canvas-toggle{position: absolute;top:16px;right:0;}