@import "settings";
/* =============================================================================
ABOUT
============================================================================= */
.philosophy-approach{
	.masthead{
		background-position: 0 0;
	}
	.main{
		.row:last-child{padding-bottom:0 !important;}
	}
	.tabs-content{
		.content>.row>.column{
			@include rem(padding-bottom,4rem);
		}
	}
}
/* =============================================================================
SVALINN DIFFERENCE
============================================================================= */
/*  TRAINING  */
.training{
	.leader .row{
		background-color:#e4e2e2;
		background-image: url("/packages/shield/img/hr-gradient.png");
		background-position: 50% 100%;
		background-repeat: no-repeat;
	}
	.section-1{
		background-color: #E4E2E2;
		background-image: url("/packages/shield/img/bg/bg-leader.jpg");
		background-position: 50% 0;
		background-repeat: no-repeat;
		p{	
			@include rem(margin, 3rem 0);
			color:#000;
			@include rem(font-size, 21px);
			text-align: center;
		}
	}
	.main{
		.row:last-child{padding-bottom:0 !important;}
		.section-3 .column{padding:0;}
	}
	.tabs-content{
		.content{
			li{color:#000;}
			.framed{@include rem(margin-bottom,5rem);}
		}
	}
}
/*  GUARANTEE  */
.guarantee{
	.leader .row{
		background-color:#e4e2e2;
		background-image: url("/packages/shield/img/hr-gradient.png");
		background-position: 50% 100%;
		background-repeat: no-repeat;
	}
	.section-2{
		@include rem(padding-top, 3rem);
		background-color: #E4E2E2;
		background-image: url("/packages/shield/img/bg/bg-leader.jpg");
		background-position: 50% 0;
		background-repeat: no-repeat;
	}
}
/*  BREED SPECIFICATION  */
.breed-specifications{
	.leader .row{
		background-color:#e4e2e2;
		background-image: url("/packages/shield/img/hr-gradient.png");
		background-position: 50% 100%;
		background-repeat: no-repeat;
	}
	.main{
		.row:last-child{padding-bottom:0 !important;}
		.section-3 .column{padding:0;}
	}
	.section-1{
		@include rem(padding-top, 3rem);
		@include rem(padding-bottom, 2rem);
		background-color: #E4E2E2;
		background-image: url("/packages/shield/img/bg/bg-leader.jpg");
		background-position: 50% 0;
		background-repeat: no-repeat;
		p{
			@media #{$large-up}{
				@include rem(margin-left,5rem);
				@include rem(margin-right,5rem);
			}
			color:#000;
		}
	}
	.section-2{
		.content{
			.row{
				padding-top:0;
				padding-bottom:0;
				.left-col{
					@include rem(padding,2rem 2rem 1rem);
					@media #{$medium-down}{
						@include rem(padding-bottom,3rem);
					}
					h3{
						color:#000;
						font-family:$quadon;
						@include rem(font-size,24px);
						text-align: center;
						text-transform: none;
					}
					p{color:#000;text-align: center;}
					.framed{
						p{@include rem(font-size,14px);}
						@media #{$medium-down}{
							@include rem(font-size,18px);
						}
					}
				}
				.right-col{
					padding:0;
					.row{padding:0;}
				}
			}
			
		}
	}
}
.testimonials{
	.leader,.section-2,.section-3{display: none;}
	.testimonial{
		blockquote{
			&:before,&:after{
				display:block;
				margin:0 auto;
				content:"";
				height:34px;
				width:34px;
				background-size:contain;
				background-position: 50%;
			}
			&:before{background-image: url("/packages/shield/img/blockquote-before.png");}
			&:after{background-image: url("/packages/shield/img/blockquote-after.png");}
		}
		
	}
}
/* =============================================================================
PROTECTION
============================================================================= */
/*  PEACE OF MIND  */
.peace-mind, .individual, .executive{
	.leader .row{
		background-color:#e4e2e2;
		background-image: url("/packages/shield/img/hr-gradient.png");
		background-position: 50% 100%;
		background-repeat: no-repeat;
	}
	.section-2{
		@include rem(padding-top, 3rem);
		background-color: #E4E2E2;
		background-image: url("/packages/shield/img/bg/bg-leader.jpg");
		background-position: 50% 0;
		background-repeat: no-repeat;
	}
}
.family, .selection-process, .securing-your-dog, .handler-training{
	.leader .row{
		background-color:#e4e2e2;
		background-image: url("/packages/shield/img/hr-gradient.png");
		background-position: 50% 100%;
		background-repeat: no-repeat;
	}
	.section-1{
		@include rem(padding-top, 3rem);
		background-color: #E4E2E2;
		background-image: url("/packages/shield/img/bg/bg-leader.jpg");
		background-position: 50% 0;
		background-repeat: no-repeat;
	}
}
/* =============================================================================
PURCHASING
============================================================================= */
.handler-training{
	.section-2{
		.outdent-both>.column{padding-left:0;padding-right:0;}
		.main .row:last-child{padding-bottom:0;}
	}
	.section-3{display: none;}
}
/* =============================================================================
FOOTER
============================================================================= */
.footer-img{
	@media #{$small-only}{
		display:none;
	}
	.privateclient &{
		background-image:url("#{$imagePath}private/footer/bg-sublanding.jpg");
	}
	.privateclient.sublanding &{
	}
	.company-history &{	
		height:320px;
		background-image:url("#{$imagePath}private/footer/bg-company.jpg");
		@media #{$medium-only}{
			height:185px;
		}
	}
	.leadership-team &{
		height:420px;
		background-image:url("#{$imagePath}private/footer/bg-leadership-team.jpg");
		@media #{$medium-only}{
			height:250px;
		}
	}
	.training &{
		height:420px;
		background-image:url("#{$imagePath}private/footer/bg-training.jpg");
		@media #{$medium-only}{
			height:250px;
		}
	}
	.securing-your-dog &, .working-dogs &, .our_dogs &{
		display:none;
	}
	.guarantee &{
		height:450px;
		background-image:url("#{$imagePath}private/footer/bg-guarantee.jpg");
		@media #{$medium-only}{
			height:260px;
		}
	}
	.handler-training &{
		height:450px;
		background-image:url("#{$imagePath}private/footer/bg-handler-training.jpg");
		@media #{$medium-only}{
			height:260px;
		}
	}
	.peace-mind &{
		height:550px;
		background-image:url("#{$imagePath}private/footer/bg-peace-mind.jpg");
		@media #{$medium-only}{
			height:300px;
		}
	}
	.family &{background-image:url("#{$imagePath}private/footer/bg-protection-family.jpg");}
	.individual &{
		height:420px;
		background-image:url("#{$imagePath}private/footer/bg-individual.jpg");
		@media #{$medium-only}{
			height:250px;
		}
	}
	.executive &{
		height:420px;
		background-image:url("#{$imagePath}private/footer/bg-executive.jpg");
		@media #{$medium-only}{
			height:250px;
		}
	}
	.selection-process &{
		height:380px;
		background-image:url("#{$imagePath}private/footer/bg-selection.jpg");
		@media #{$medium-only}{
			height:215px;
		}
	}
}