@import "settings";
/* =============================================================================
ABOUT
============================================================================= */
.company-history{
	.main .row .outdent-right{@include rem(margin-right,-2rem, !important);}
}
.philosophy-approach{
	.main{
		.row:last-child{padding-bottom:0 !important;}
	}
	.tabs-content{
		.content>.row>.column{
			@include rem(padding-bottom,4rem);
		}
	}
}
/* =============================================================================
SVALINN DIFFERENCE
============================================================================= */
/*  TRAINING  */
.training{
	.leader .row{
		@include rem(padding-bottom, 2rem);
		background-color:#e4e2e2;
		background-image: url("/packages/shield/img/hr-gradient.png");
		background-position: 50% 100%;
		background-repeat: no-repeat;
	}
	.section-1{
		background-color: #E4E2E2;
		background-image: url("/packages/shield/img/bg/bg-leader.jpg");
		background-position: 50% 0;
		background-repeat: no-repeat;
		p{	
			@include rem(margin, 3rem 0);
			color:#000;
			@include rem(font-size, 21px);
			text-align: center;
		}
	}
	.main{
		.row:last-child{padding-bottom:0 !important;}
		.section-3 .column{padding:0;}
	}
	.tabs-content{
		.content{
			li{color:#000;}
			.framed{@include rem(margin-bottom,5rem);}
		}
	}
}
/*  GUARANTEE  */
.guarantee{
	.leader .row{
		@include rem(padding-bottom, 2rem);
		background-color:#e4e2e2;
		background-image: url("/packages/shield/img/hr-gradient.png");
		background-position: 50% 100%;
		background-repeat: no-repeat;
	}
	.section-2{
		@include rem(padding-top, 3rem);
		background-color: #E4E2E2;
		background-image: url("/packages/shield/img/bg/bg-leader.jpg");
		background-position: 50% 0;
		background-repeat: no-repeat;
	}
	.section-3{
		padding:0;
		.column{padding:0;}
	}
	.main .row:last-child{padding-bottom:0;}
}
/*  BREED SPECIFICATION  */
.breed-specifications{
	.leader .row{
		@include rem(padding-bottom, 2rem);
		background-color:#e4e2e2;
		background-image: url("/packages/shield/img/hr-gradient.png");
		background-position: 50% 100%;
		background-repeat: no-repeat;
	}
	.main{
		.row:last-child{padding-bottom:0 !important;}
		.section-3 .column{padding:0;}
	}
	.section-1{
		@include rem(padding-top, 3rem);
		@include rem(padding-bottom, 2rem);
		background-color: #E4E2E2;
		background-image: url("/packages/shield/img/bg/bg-leader.jpg");
		background-position: 50% 0;
		background-repeat: no-repeat;
		p{
			@media #{$large-up}{
				@include rem(margin-left,5rem);
				@include rem(margin-right,5rem);
			}
			color:#000;
		}
	}
	.section-2{
		.content{
			.row{
				padding-top:0;
				padding-bottom:0;
				.left-col{
					@include rem(padding,2rem 2rem 1rem);
					@media #{$medium-down}{
						@include rem(padding-bottom,3rem);
					}
					h3{
						color:#000;
						font-family:$quadon;
						@include rem(font-size,24px);
						text-align: center;
						text-transform: none;
					}
					p{color:#000;text-align: center;}
					.framed{
						p{@include rem(font-size,14px);}
						@media #{$medium-down}{
							@include rem(font-size,18px);
						}
					}
				}
				.right-col{
					padding:0;
					.row{padding:0;}
				}
			}
			
		}
	}
}
.testimonials{
	.leader,.section-2,.section-3{display: none;}
	.section-1{
		padding:0 !important;
		.column{padding:0;}
	}
}
.testimonial{
	@include rem(padding,2rem 3rem);
	background-size: cover;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	&:nth-child(odd){background-image: url("/packages/shield/img/bg/bg-testimonial-blue.jpg");}
	&:nth-child(even){background-image: url("/packages/shield/img/bg/bg-testimonial-gray.jpg");}
	blockquote{
		margin:0;
		padding:0;
		@include rem(font-size,26px);
		@include rem(line-height,42px);
		@media #{$medium-down}{
			@include rem(font-size,21px);
			@include rem(line-height,28px);
		}
		@media #{$small-only}{
			font-size:4vw;
			line-height: 160%;
		}
		font-weight: 600;
		&:before,&:after{
			display:block;
			margin:0 auto;
			content:"";
			height:34px;
			width:34px;
			background-size:contain;
			background-position: 50%;
		}
		&:before{margin-bottom:16px;background-image: url("/packages/shield/img/blockquote-before.png");}
		&:after{margin-top:16px;background-image: url("/packages/shield/img/blockquote-after.png");}
	}
	p{
		@include rem(margin,3rem 0 0);
		padding:0;
		font-weight: 500;
		text-align: center;
		text-transform: uppercase;
		@media #{$small-only}{
			@include rem(font-size,0.75rem);
		}
	}
	&:last-child{
		@include rem(padding-bottom,5rem);
	}
}
.training-classes{
	.section-1{
		@include rem(padding-top,1rem);
		@include rem(padding-bottom,2rem);
	}
	.section-3{
		padding:0;
	}
}
/* =============================================================================
PROTECTION
============================================================================= */
/*  PEACE OF MIND  */
.peace-mind, .individual, .executive{
	.leader .row{
		@include rem(padding-bottom, 2rem);
		background-color:#e4e2e2;
		background-image: url("/packages/shield/img/hr-gradient.png");
		background-position: 50% 100%;
		background-repeat: no-repeat;
		background-size:90%;
	}
	.section-2{
		@include rem(padding-top, 3rem);
		background-color: #E4E2E2;
		background-image: url("/packages/shield/img/bg/bg-leader.jpg");
		background-position: 50% 0;
		background-repeat: no-repeat;
	}
}
.training, .family, .selection-process, .securing-your-dog, .included-training, .training-classes{
	.leader .row{
		@include rem(padding-bottom, 2rem);
		background-color:#e4e2e2;
		background-image: url("/packages/shield/img/hr-gradient.png");
		background-position: 50% 100%;
		background-repeat: no-repeat;
	}
	.section-1{
		@include rem(padding-top, 3rem);
		background-color: #E4E2E2;
		background-image: url("/packages/shield/img/bg/bg-leader.jpg");
		background-position: 50% 0;
		background-repeat: no-repeat;
	}
}
.frequently-asked-questions{
	h3{color:$medium-gray;}
}

/* =============================================================================
PURCHASING
============================================================================= */
.included-training{
	.section-2{
		.outdent-both:first-child>.column{padding-left:0;padding-right:0;}
	}
	.main .row:last-child{padding-bottom:0;}
	.section-3{display: none;}
}